body {
  background: orange;
}
.button {
  background: red;
  height: 100px;
  width: 200px;
}
.display {
  height: 500px;
  width: 500px;
  background: whitesmoke;
}
.form {
  height: 100px;
  width: 450px;
  background: green;
}
