body {
  background: orange;
}
.button {
  background: red;
  height: 100px;
  width: 200px;
}
.display {
  height: 500px;
  width: 500px;
  background: whitesmoke;
}
.form {
  height: 100px;
  width: 450px;
  background: green;
}
.infoImage {
  height: 200px;
  width: 200px;
  background: blue;
}
.infoImageText {
  height: 20px;
  width: 100px;
  background: burlywood;
}
.carousel-btn {
  height: 50px;
  width: 50px;
  background: yellow;
}
.carousel-btnNext {
  height: 50px;
  width: 50px;
  background: aqua;
}
.infoStats {
  height: 150px;
  width: 400px;
  background: deeppink;
}
