body {
  background: orange;
  font-family: Helvetica, sans-serif;
}
.button {
  background: red;
  height: 100px;
  width: 200px;
}
.display {
  height: 500px;
  width: 500px;
  background: whitesmoke;
  display: flex;
}
.pokedex {
  height: 700px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-content: space-around;
  background: #dd0b2d;
  border-radius: 20px;
}
.pokedex-camera {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: radial-gradient(white, skyblue);
  margin: 10px 0;
  border: 2px solid whitesmoke;
}
.infoImage {
  height: 300px;
  width: 300px;
  background: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 20px solid lightgray;
  border-bottom: 40px solid lightgray;
}
.pokePic {
  height: 250px;
  width: 250px;
}
.infoImageText {
  height: 20px;
  width: 100px;
  background: burlywood;
  position: absolute;
  margin: -30px 0 0 125px;
}
.underneath {
  display: hidden;
}
.carousel-btnPrev {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid goldenrod;
}
.carousel-btnNext {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid goldenrod;
}
.infoStats {
  height: 200px;
  width: 300px;
  background: green;
  border: 20px solid green;
}
@media (min-width: 800px) {
  .pokedex {
    height: 650px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
  }
  .info-top {
    height: 650px;
    width: 375px;
    border-right: 10px solid darkred;
    /* display: flex;
    justify-content: center; */
  }
  .info-bot {
    height: 650px;
    width: 375px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-left: 10px solid darkred;
  }
  .btn-info {
    margin: 0 0 100px 0;
  }
  .form {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
  }
  .infoStats {
    height: 300px;
    width: 300px;
    background: green;
    border: 20px solid green;
  }
  .pokedex-camera {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: radial-gradient(white, skyblue);
    margin: 10px 0;
    border: 2px solid whitesmoke;
    /* position: absolute;
    margin: -60px 0 0 0; */
  }
  .underneath {
    display: block;
    background: white;
    height: 150px;
    width: 150px;
  }
}
